<h1>{{product.title}}</h1>
<p>{{product.description}}</p>
<p><b>Precio:</b> ${{product.price}}</p>
<p><b>Categoría:</b> {{product.category}}</p>
<p><b>Disponible:</b> {{#if product.status}}Sí{{else}}No{{/if}}</p>

<button>Agregar al carrito</button>